.feed{
    display: flex;
    /* margin-top: 20px; */
    height: 100%;
    
}
.feed_img{
    align-items: center;
    width: 10%;
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.feed_image{
    background-image: url("../../download.jpg");
    width: 70%;
    height: 60%;
    border-radius: 50%;
    background-size: cover;
    
}
.feed_content{
    padding:20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 90%;
    /* margin-top: 2px; */
}
.feed_date{
    color: grey;
    font-size: 12px;
    padding-block:1px;
}
.feed_title{
    font-size: 1rem;
    font-weight: bold;
}